<form #header="ngForm" (ngSubmit)="onSubmit(header)">
  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"></label>
  <ul class="navigation">
    <li class="nav-item" *ngFor="let item of navItems"><a [routerLink]="[item.URL]">{{item.name}}</a> </li>
  </ul>
  <div id="sb-site">
    <!-- Body Header -->
    <header>
      <a href="index.html" class="logo" data-scroll><img style="border: none" src="https://ocpd-content.azureedge.net/cdn/images/logo-crimemapping.svg" width="268" height="46" alt="" /></a>
      <ul class="loginSignup">
        <li><a class="signupAccount" href="Alerts.html" data-scroll>Receive Alerts</a></li>

      </ul>
      <nav class="secondary-nav">
        <ul>
          <li  *ngFor="let item of navItems"><a [routerLink]="[item.URL]">{{item.name}}</a> </li>
        </ul>
      </nav>
    </header>
    
  </div>
  
</form>
